[user]
	name = Dhina17
	email = dhinalogu@gmail.com
[alias]
	s = status
	cp = cherry-pick
	r = rebase
	ck = checkout
	p = push
	c = commit
	pl = pull
	d = diff
[credential]
	helper = store
[review "review.lineageos.org"]
        username = Dhina_17
[review "gerrit.libremobileos.com"]
        username = Dhina17
